<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>App</display-name>
  <welcome-file-list>
    <welcome-file>home</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DetaliiServ</display-name>
    <servlet-name>DetaliiServ</servlet-name>
    <servlet-class>controler.DetaliiServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetaliiServ</servlet-name>
    <url-pattern>/DetaliiServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDetalii</display-name>
    <servlet-name>ServletDetalii</servlet-name>
    <servlet-class>controler.ServletDetalii</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDetalii</servlet-name>
    <url-pattern>/detalii</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletHome</display-name>
    <servlet-name>ServletHome</servlet-name>
    <servlet-class>controler.ServletHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletHome</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletUpload</display-name>
    <servlet-name>ServletUpload</servlet-name>
    <servlet-class>controler.ServletUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUpload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCos</display-name>
    <servlet-name>ServletCos</servlet-name>
    <servlet-class>controler.ServletCos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCos</servlet-name>
    <url-pattern>/cos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLogin</display-name>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>controler.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletGolesteCos</display-name>
    <servlet-name>ServletGolesteCos</servlet-name>
    <servlet-class>controler.ServletGolesteCos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletGolesteCos</servlet-name>
    <url-pattern>/ServletGolesteCos</url-pattern>
  </servlet-mapping>
</web-app>